MONGODB_URI=mongodb://127.0.0.1:27017/pubsub_assignment
MONGODB_ATLAS_HOST=
MONGODB_ATLAS_USER=
MONGODB_ATLAS_PASSWORD=
MONGODB_DBNAME=pubsub_assignment
PORT=4000
POLL_INTERVAL_MS=200
SUBSCRIBER_QUEUE_MAX=2000
